/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* JIRC App Container */
.container{
  height: 100vh;
  display: flex;
}

/* Channel Bar */
.channel-bar{
  background-color: #3D4551;
  height: 100vh;
  width: 15%;
  display: flex;
  flex-direction: column;
}

.channel-bar-overlay{
  display: flex !important;
  width: 40%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.user-details{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  height: 20%;
}

.close-channel{
  display: none;
  cursor: pointer;
  fill: #FFFFFF;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.user-avatar{
  border: 2px solid #22FC8F;
  min-height: 80px;
  min-width: 80px;
}

.user-details h2{
 font-family: Roboto;
 margin-top: 10px; 
 font-size: 20px;
 font-weight: 400;
 color: #22FC8F;
 text-align: center;
}

.channel-list{
  margin-top: 30px;
  overflow: auto;
  height: 60%;
}

.channel-list ul{
  list-style: none;
}

.channel-list li{
  border: 1px solid #6B778A;
  border-left: 4px solid #FFFFFF;
  border-right: none;
  border-radius: 1px;
  font-family: Roboto;
  padding: 10px;
  margin-bottom: 10px;
  color: #FFFFFF;
  cursor: pointer;
}

.channel-list li:hover{
  background-color: #6B778A;
}

.selected-channel li{
  border: 1px solid #6B778A;
  border-left: 4px solid #22FC8F;
  border-right: none;
  border-radius: 1px;
  font-family: Roboto;
  padding: 10px;
  margin-bottom: 10px;
  color: #FFFFFF;
  cursor: pointer;
  background-color: #6B778A;
}

.channel-create{
  position: absolute;
  bottom: 0;
  background-color: white;
  width: inherit;
  height: 7%;
}

.channel-create button{
  background-color: #22FC8F;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  color: #3D4551;
}
/* When overlay is active */
.channel-bar-overlay .channel-create{
  width: 100%;
}

.channel-create .create-button-icon{
  margin-right: 3px;
  min-height: 30px;
  min-width: 30px;
}

/* Chat Section */
.chat-section{
  background-color: bisque;
  height: 100vh;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.chat-section-overlay{
  opacity: 0.3;
  cursor: pointer;
}

.chat-header{
  background-color: #FFFFFF;
  border-top: 4px solid #22FC8F;
  display: flex;
  padding: 10px;
  filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, 0.2));
  align-items: center;
  height: 8%;
  justify-content: center;
  text-align: center;
}

.chat-header .menu-icon{
  display: none;
}

.chat-header .group-icon{
  display: none;
}

.channel-name{
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  margin-right: 8px;
  text-transform: uppercase;
}

.chat-header span{
  font-family: 'Open Sans';
  font-size: 15px;
}

.chat-area{
  height: 85%;
  background-color: bisque;
  background-image: url("./img/background.png");
  background-repeat: repeat;
  overflow: auto;
  min-width: 0;
}

.chat-message-member{
  background-color: #FFFFFF;
  margin: 8px 5px;
  padding: 5px;
  font-family: "Open Sans";
  font-size: 0.9em;
  border-left: 3px solid #3D4551;
  border-radius: 2px;
}

.chat-message-user{
  background-color: #FFFFFF;
  margin: 8px 5px;
  padding: 5px;
  font-family: "Open Sans";
  font-size: 0.9em;
  border-left: 3px solid #22FC8F;
  border-radius: 2px;
}

.chat-details{
  font-weight: 600;
}

.chat-input{
  position: absolute;
  bottom: 0;
  background-color: white;
  width: inherit;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-input input[type=text]{
  width: 100%;
  padding: 5px;
  border-radius: 20px;
  border: 2px solid #22FC8F;
}

.chat-input button{
  display: none;
}

/* Member Bar */
.member-bar{
  background-color: #FFFFFF;
  border-left: 1px solid #707070;
  height: 100vh;
  width: 15%;
  display: flex;
  flex-direction: column;
}

.member-bar-overlay{
  display: flex !important;
  width: 40%;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}

.member-header{
  margin-top: 10px;
  display:flex;
  flex-direction: column;
  font-family: "Open Sans";
  text-align: center;
}

.member-header h2{
  font-size: 1em;
}

.member-header h3{
  font-size: 1em;
  color: #3D4551;
}

.close-member{
  display: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

.member-list{
  margin-top: 10px;
  overflow: auto;
}

.member-list ul{
  list-style: none;
}

.member-list li{
  font-family: Roboto;
  padding: 10px;
  margin-bottom: 10px;
}

.member-item{
  display: flex;
  align-items: center;
}

.member-item p{
  margin-left: 5px;
}

/* User Login */
.user-login{
  background-color: bisque;
  background-image: url("./img/background.png");
  background-repeat: repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #707070;
  background-color: #FFFFFF;
  border-radius: 10px;
  width: auto;
  font-family: "Open Sans";
  font-weight: bold;
}

.login-container h3{
  margin: 15px 0px;
}

.login-container img{
  height: 50%;
  width: 50%;
}

.login-container button{
  background-color: #22FC8F;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  color: #3D4551;
  cursor: pointer;
}

/** Media Queries **/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .channel-bar-overlay{
    width: 80%;
  }
  .member-bar-overlay{
    width: 80%;
  }
  .channel-name{
    font-size: 6px;
  }
  .chat-header span{
    font-size: 20px;
  }
  .channel-bar{
    display: none;
  }

  .chat-section{
    width: 100%;
  }
  .chat-header{
    height: 6%;
    justify-content: center;
  }
  .channel-name{
    font-size: 15px;
  }
  .chat-header span{
    font-size: 13px;
  }
  .chat-area{
    height: 87%;
  }

  .chat-header .menu-icon{
    display: inline;
    margin-right: auto;
    cursor: pointer;
  }
  .chat-header .menu-icon:active{
    background-color: #707070;
    border-radius: 20px;
    color: white;
  }
  .chat-header .group-icon{
    display: inline;
    margin-left: auto;
    cursor: pointer;
  }
  .chat-header .group-icon:active{
    background-color: #707070;
    border-radius: 20px;
    color: white;
  }

  .chat-input{
    position: sticky;
    padding: 10px;
  }
  .member-bar{
    display: none;
  }
  .channel-create{
    position: sticky;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 780px) {
  .channel-bar{
    display: none;
  }

  .chat-section{
    width: 100%;
  }
  .chat-header{
    height: 6%;
    justify-content: center;
  }
  .channel-name{
    font-size: 15px;
  }
  .chat-header span{
    font-size: 13px;
  }
  .chat-area{
    height: 87%;
  }

  .chat-header .menu-icon{
    display: inline;
    margin-right: auto;
    cursor: pointer;
  }

  .chat-header .group-icon{
    display: inline;
    margin-left: auto;
    cursor: pointer;
  }

  .chat-input{
    padding: 10px;
  }
  .member-bar{
    display: none;
  }
} 